@model Product
@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit Product";
}


<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>@Model.Name</title>
</head>
<body>
<div>
    <div class="row">
        <div class="col-md-offset-3 p-3 w-100 ">
            <form asp-action="Edit" method="post">
            <div class="container 100 mb-3 ">
                <img class=" img-fluid" src="~/images/@Model.Image" alt="@Model.Image[0] image"/>
            </div>
            <div class="form-group mb-3">
                <input asp-for="Name" class="display-5 mb-3 text-xxl-start" value="@Model.Name"/>
            </div>
            <div class="form-group mb-3">
                <input asp-for="Description" class="form-control mb-3" value="@Model.Description"/>
            </div>
            <div class="form group">
                <input asp-for="Price" class="form-control mb-3 fw-bolder text-opacity-75 text-xl-start " value="@Model.Price"/>
            </div>
            <div class="form group">
                <input asp-for="Image" class="form-control mb-3 fw-bolder text-opacity-75 text-xl-start " value="@Model.Image[0]"/>
            </div><div class="form group">
                <input asp-for="color" class="form-control mb-3 fw-bolder text-opacity-75 text-xl-start " value="red"/>
            </div>
            <div class="form group">
                <input asp-for="CategoryId" class="form-control mb-3 fw-bolder text-opacity-75 text-xl-start " value="@Model.CategoryId"/>
            </div>

            <div class="form-group mb-3">
                <a class="btn back float-end" asp-action="Index">Cancel</a>
                <button type="submit" class="btn edit text-light float-end">Save</button>
            </div>
            </form>

        </div>
    </div>


</div>
</body>
</html>